.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  perspective: 1500px;

  &.modalView {
    position: fixed;

    .container {
      transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
      outline: 30px solid #0f33ff;
    }
  }
}

.container {
  position: relative;
  min-height: 100%;
  outline: 30px solid #0f33ff;
  transform: translateZ(0) translateX(0) rotateY(0deg);
  transform-origin: 0% 50%;
  transition: transform .4s;
}

.viewport {
  position: relative;
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 45px 5px rgba(0,0,0,.85);
  overflow: hidden;
}

.content {
  position: relative;
  width: 1440px;
  max-width: 90%;
  height: 100%;
  margin: 0 auto;

  @for $i from 0 through 5 {
    &.section_num_#{$i} {
      display: block;
    }
  }
}

.closeMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
    z-index: 11;

    &.isVisible {
      display: block;
    }
  }
